@model AcademicJournal.ViewModels.Controller.AssignToStudentsViewModel

@{
    ViewBag.Title = "AssignToStudents";
}

<h2>AssignToStudents</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Created by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Creator.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment.AssignmentFile)
        </dt>

        <dd>
            @if (Model.Assignment.AssignmentFile != null)
            {
                @Html.ActionLink(Model.Assignment.AssignmentFile.FileName, "DownloadAssignmentFile", "Assignments", new { id = Model.Assignment.AssignmentId }, null)
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Details", "Details", new { id = Model.Assignment.AssignmentId })
</p>
<hr />

<h4>Students</h4>
<p>
    @Html.ActionLink("Create a New student", "Create", "Students")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentModel.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentModel.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentModel.PhoneNumber)
            </th>
            <th>
                Assign
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.FullName, "Student", "Mentors", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.PhoneNumber)
                </td>
                <td>
                    <input type="checkbox" value="@item.Id" name="studentId" />
                </td>
                <td>
                    @Html.ActionLink("Details", "Details","Students", new { id = item.Id }) |
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Assign" class="btn btn-default" />
}


