@model IEnumerable<AcademicJournal.DAL.Models.Assignment>

@{
    ViewBag.Title = "CreatedBy";
}

<h2>CreatedBy</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th>
            Task file@*@Html.DisplayNameFor(model => model.SubmitFile.UploadFile)*@
        </th>
        <th>
            Submitted file@*@Html.DisplayNameFor(model => model.TaskFile.UploadFile)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmitFile.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskFile.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssignmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssignmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssignmentId })
        </td>
    </tr>
}

</table>
