@model AcademicJournal.ViewModels.AssignmentDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Created by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Creator.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment.AssignmentFile)
        </dt>

        <dd>
            @if(Model.Assignment.AssignmentFile != null)
            {
                @Html.ActionLink(Model.Assignment.AssignmentFile.FileName, "DownloadAssignmentFile", "Assignments", new { id = Model.Assignment.AssignmentId }, null)
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Assignment.AssignmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
