@model AcademicJournal.ViewModels.Controller.AssignmentsIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentModel.AssignmentFile.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentModel.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentModel.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentModel.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Assignments) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignmentFile.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssignmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssignmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssignmentId })
        </td>
    </tr>
}

</table>
