@model AcademicJournal.ViewModels.MentorAssignmentsVM

@{
    ViewBag.Title = "Mentor";
}


<div>
    <h4>Mentor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mentor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mentor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mentor.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mentor.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mentor.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mentor.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mentor.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mentor.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Mentor.Id })
</p>
<hr />



<h3>Assignments</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentModel.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentModel.AssignmentFile.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentModel.Created)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Assignments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.AssignmentFile != null)
                {
                    @Html.ActionLink(item.AssignmentFile.FileName, "DownloadAssignmentFile", "Assignments", new { id = item.AssignmentId }, null)
                }
            </td>
            <td>
                @Html.DisplayFor(_ => item.Created)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AssignmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AssignmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AssignmentId }) |
                @Html.ActionLink("Go to submissions", "Assignment","Submissions", new { id = item.AssignmentId},null)
            </td>
        </tr>
    }

</table>
