@model AcademicJournal.ViewModels.MentorsHomeVM
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Personal Informatin:</h3>
        <hr />
        <div>
            <h4>Mentor</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Mentor.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mentor.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mentor.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mentor.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mentor.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mentor.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mentor.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mentor.PhoneNumber)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Mentor.Id })
        </p>
    </div>
    <div class="col-md-6">
        <h3>My journals...</h3>
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JournalVM.Year)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Mentor.Journals)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.ActionLink("Open", "Fill", "Journals", new { id = item.Id }, null)
                    </td>
                </tr>
            }

        </table>
        <p>
            @Html.ActionLink("Add New", "Create", "Journals", new { id = Model.Mentor.Id }, null)
        </p>
    </div>
</div>

<br />
<hr />
<h3>My current students...</h3>
<p>
    @Html.ActionLink("Add New", "AcceptStudent")
</p>
<table class="table">
    <tr>
        <th>
            Full Name
        </th>
        <th>
           Email
        </th>
        <th>
           Phone Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Mentor.Students)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FullName,"Student", "Mentors", new { id = item.Id}, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Expel", "ExpelStudent", "Mentors", new { id = item.Id }, null)               
            </td>
        </tr>
    }

</table>

<br />
<hr />
<h3>@Html.ActionLink("My assignments", "Mentor", "Assignments", new { id = Model.Mentor.Id }, null)</h3>




