@model AcademicJournal.ViewModels.MentorsStudentVM
@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Details", "Details", "Students", new { id = Model.Student.Id }, null) |
    @Html.ActionLink("Back to Home", "Home", "Mentors")
</p>

<br />
<hr />
<h3>Assignments...</h3>
<p>@Html.ActionLink("Create new", "Create", "Assignments", new {id = Model.Student.Id }, null) </p>

<table class="table">
    <tr>       
        <th>
            @Html.DisplayNameFor(model => model.Assignment.Title)
        </th>
        <th>
            Task file
        </th>
        <th>
            Submitted file
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignment.Completed)
        </th>
        <th colspan="2">
            @Html.DisplayNameFor(model => model.Assignment.Grade)
        </th>     
        <th></th>
    </tr>

    @foreach (var item in Model.Student.Assignments)
    {
        <tr>          
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.TaskFile != null)
                {
                    @Html.ActionLink(item.TaskFile.FileName, "DownloadTaskFile", "Assignments", new { id = item.AssignmentId }, null)
                }
            </td>
            <td>
                @if (item.SubmitFile != null)
                {
                    @Html.ActionLink(item.SubmitFile.FileName, "DownloadSubmitFile", "Assignments", new { id = item.AssignmentId }, null)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
                @using (Html.BeginForm("ToggleStatus","Assignments", new { id = item.AssignmentId }, FormMethod.Post, new { @class = "toggle-btn-form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Toggle" class="btn btn-xs toggle-btm" /> 
                }
            </td>
                <td width="3">@Html.DisplayFor(modelItem => item.Grade)</td>
                <td>@Html.ActionLink("Evaluate", "Evaluate", "Assignments", new { id = item.AssignmentId }, null)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Assignments", new { id = item.AssignmentId }, null) |
                @Html.ActionLink("Details", "Details", "Assignments", new { id = item.AssignmentId }, null) |
                @Html.ActionLink("Delete", "Delete", "Assignments", new { id = item.AssignmentId }, null)
            </td>
        </tr>
    }

</table>