@model AcademicJournal.ViewModels.Controller.AssignmentSumbissionsVM

@{
    ViewBag.Title = "Assignment";
}

<h2>Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Created by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Creator.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment.AssignmentFile)
        </dt>

        <dd>
            @if (Model.Assignment.AssignmentFile != null)
            {
                @Html.ActionLink(Model.Assignment.AssignmentFile.FileName, "DownloadAssignmentFile", "Assignments", new { id = Model.Assignment.AssignmentId }, null)
            }
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Details", "Details","Assignments", new { id = Model.Assignment.AssignmentId },null)
    </p>
</div>

<hr />
<h3>Students and Submissions</h3>
<p>
    @Html.ActionLink("Assign to new students", "AssignToStudents", "Assignments", new { id = Model.Assignment.AssignmentId }, null)
</p>

<table class="table">
    <tr>
        <th>
            Student
        </th>
        <th>
            Complete
        </th>
        <th>
            Grade
        </th>
        <th>
            Submit File
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Submissions)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Student.FullName, "Student", "Mentors", new {id = item.StudentId}, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @if (item.SubmitFile != null)
                {
                    @Html.DisplayFor(_ => item.SubmitFile.FileName)
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details","Submissions", new { assignmentId = item.AssignmentId, studentId  = item.StudentId },null)
            </td>
        </tr>
    }
</table>

