@model AcademicJournal.ViewModels.DeleteSubmissionVM
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Submission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Assignments title
        </dt>

        <dd>
            @Html.ActionLink(Model.Submission.Assignment.Title, "Details", "Assignments", new {id = Model.Submission.AssignmentId}, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submission.Student.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.SubmitFile)
        </dt>

        <dd>
            @if (Model.Submission.SubmitFile != null)
            {
                @Html.DisplayFor(model => model.Submission.SubmitFile.FileName)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submission.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submission.Completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submission.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.Submitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submission.Submitted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
