@model AcademicJournal.ViewModels.Controller.EvaluateSubmissionViewModel

@{
    ViewBag.Title = "Evaluate";
}

<h2>Evaluate</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Submission.Assignment.Title)
        </dt>

        <dd>
            @Html.ActionLink(Model.Submission.Assignment.Title, "Details","Assignments", new { id = Model.Submission.AssignmentId })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.Assignment.AssignmentFile)
        </dt>

        <dd>
            @if (Model.Submission.Assignment.AssignmentFile != null)
            {
                @Html.ActionLink(Model.Submission.Assignment.AssignmentFile.FileName, "DownloadAssignmentFile", "Assignments", new { id = Model.Submission.AssignmentId }, null)
            }
        </dd>

        <dt>
            Student
        </dt>

        <dd>
            @Html.ActionLink(Model.Submission.Student.FullName, "Details", "Students", new { id = Model.Submission.StudentId })
        </dd>

        <dt>
            Submitted file
        </dt>

        <dd>
            @if (Model.Submission.SubmitFile != null)
            {
                @Html.ActionLink(Model.Submission.SubmitFile.FileName, "DownloadSubmissionFile", "Submissions", new { assignmentId = Model.Submission.AssignmentId, studentId = Model.Submission.StudentId }, null)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.Submitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submission.Submitted)
        </dd>      
             
        <dt>
            @Html.DisplayNameFor(model => model.Submission.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submission.Completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submission.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submission.DueDate)
        </dd>

       

    </dl>
</div>
<h3>Evaluate!</h3>
@using (Html.BeginRouteForm("Default"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.studentId)
    @Html.HiddenFor(model => model.assignmentId)
    <div class="form-horizontal">
        <h4>Assignment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
