<div class="row">
    <div class="col-md-2">@Html.ActionLink("Students","Index","Students")</div>
    <div class="col-md-2">@Html.ActionLink("Mentors", "Index", "Mentors")</div>
    <div class="col-md-2">@Html.ActionLink("Admins", "Index", "Admins")</div>
    <div class="col-md-2 col-md-push-2">@Html.ActionLink("Assignments", "Index", "Assignments")</div>
    <div class="col-md-2 col-md-push-2">@Html.ActionLink("Tests", "Index", "Tests")</div>
</div>
