@model AcademicJournal.ViewModels.Controller.WorDayAddAttendeesViewModel

@{
    ViewBag.Title = "AddAttendees";
}

<h2>AddAttendees</h2>

<p>
    @Html.ActionLink("Create New student", "Create", "Students")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentModel.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentModel.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentModel.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentModel.PhoneNumber)
            </th>
            <th>Check as present</th>
        </tr>

        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    <input type="checkbox" value="@item.Id" name="studentId"/>  
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Submit" />
}
