@model AcademicJournal.ViewModels.JournalDetailVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Journal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Journal.Mentor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal.Mentor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journal.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Journal.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

    