@model AcademicJournal.ViewModels.JournalFillVM
@{
    ViewBag.Title = "Fill";
}

<h2>Fill</h2>

<div>
    <h4>Journal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Journal.Mentor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal.Mentor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journal.Mentor.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal.Mentor.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journal.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Journal.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<br />
<hr />
<h3>Work days...</h3>

<p>
    @Html.ActionLink("Create New Work Day", "CreateWorkDay", new { id = Model.Journal.Id })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkDayModel.Day)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Journal.WorkDays)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Add attendees", "AddAttendees", new { id = item.Id })
            </td>
        </tr>
    }

</table>
