@model AcademicJournal.ViewModels.StudentsHomeVM

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col col-sm-6">
        <h4>My info</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Student.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.Email)
            </dd>
        </dl>
    </div>
    <div class="col col-sm-6">
        <h4>My mentor</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Student.Mentor.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.Mentor.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Student.Mentor.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.Mentor.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Student.Mentor.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.Mentor.Email)
            </dd>
        </dl>
    </div>
</div>
<br /><br />
<h3>My assignments...</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assignment.Title)
        </th>
        <th>
            Task file 
        </th>
        <th>
            Submitted file 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignment.Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignment.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignment.DueDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Student.Assignments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.TaskFile != null)
                {
                    @Html.ActionLink(item.TaskFile.FileName, "DownloadTaskFile", "Assignments", new { id = item.AssignmentId }, null)
                }
            </td>
            <td>
                @if (item.SubmitFile != null)
                {
                    @Html.ActionLink(item.SubmitFile.FileName, "DownloadSubmitFile", "Assignments", new { id = item.AssignmentId }, null)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @if (!item.Completed)
                {
                    @Html.ActionLink("Upload File", "Submit", "Assignments", new { id = item.AssignmentId }, null);
                    <text>|</text> ;                
                }
                @Html.ActionLink("Details", "Details", "Assignments", new { id = item.AssignmentId }, null)
            </td>
        </tr>
    }

</table>
