@model AcademicJournal.ViewModels.Controller.AttendancesDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attendance.Day.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance.Day.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance.Student.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance.Come)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance.Come)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance.Left)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance.Left)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Attendance.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
